* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  font-family: 'FiraSansRegular', 'Arial', sans-serif;
  color: #000;
  font-size: 14px;
  background-color: #f3f3f3;
}

p {
  font-size: 16px;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  outline: none;
}

:focus,
a:active,
a:hover {
  outline: 0;
}

@font-face {
  font-family: "FiraSansRegular";
  src: url("../fonts/FiraSansRegular/FiraSansRegular.eot");
  src: url("../fonts/FiraSansRegular/FiraSansRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSansRegular/FiraSansRegular.woff") format("woff"), url("../fonts/FiraSansRegular/FiraSansRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "FiraSansBold";
  src: url("../fonts/FiraSansBold/FiraSansBold.eot");
  src: url("../fonts/FiraSansBold/FiraSansBold.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSansBold/FiraSansBold.woff") format("woff"), url("../fonts/FiraSansBold/FiraSansBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "FiraSansItalic";
  src: url("../fonts/FiraSansItalic/FiraSansItalic.eot");
  src: url("../fonts/FiraSansItalic/FiraSansItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSansItalic/FiraSansItalic.woff") format("woff"), url("../fonts/FiraSansItalic/FiraSansItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "FiraSansBoldItalic";
  src: url("../fonts/FiraSansBoldItalic/FiraSansBoldItalic.eot");
  src: url("../fonts/FiraSansBoldItalic/FiraSansBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSansBoldItalic/FiraSansBoldItalic.woff") format("woff"), url("../fonts/FiraSansBoldItalic/FiraSansBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "FiraSansLight";
  src: url("../fonts/FiraSansLight/FiraSansLight.eot");
  src: url("../fonts/FiraSansLight/FiraSansLight.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSansLight/FiraSansLight.woff") format("woff"), url("../fonts/FiraSansLight/FiraSansLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

::-moz-selection {
  background-color: #ba9fe4;
  color: white;
}

::selection {
  background-color: #ba9fe4;
  color: white;
}

.header__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: 0px;
  margin-right: 0px;
  width: 1140px;
  margin: 0 auto;
  min-width: 320px;
}

.header {
  background-color: #8c76ad;
}

.header__menu {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 0px;
  margin-right: 0px;
  width: -webkit-calc(75% - 0px);
  width: calc(75% - 0px);
}

.nav__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.nav__item {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 35px;
}

a.nav__link {
  color: white;
  text-decoration: none;
  -webkit-transition: color .5s;
  -o-transition: color .5s;
  transition: color .5s;
}

a.nav__link:hover {
  color: #f7e0ca;
}

.header__account {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 0px;
  margin-right: 0px;
  width: -webkit-calc(25% - 0px);
  width: calc(25% - 0px);
  background-color: #b398db;
}

.header__account .dropdown-menu {
  width: 100%;
  top: 135%;
}

.header__account .dropdown {
  text-align: center;
  padding-top: 15px;
}

.header__account .dropdown a.dropdown-toggle {
  text-decoration: none;
  font-size: 18px;
  font-family: 'FiraSansLight', 'Arial', sans-serif;
  -webkit-transition-delay: .5s;
  -o-transition-delay: .5s;
  transition-delay: .5s;
}

.header__account .dropdown a.dropdown-toggle .fa {
  color: white;
  font-size: 22px;
}

.header__account .dropdown a.dropdown-toggle span {
  color: white;
}

.header__account .dropdown a.dropdown-toggle:hover .fa {
  color: #f7e0ca;
}

.header__account .dropdown a.dropdown-toggle:hover span {
  color: #f7e0ca;
}

.head {
  background-color: white;
}

.head__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: 0px;
  margin-right: 0px;
  width: 1140px;
  margin: 0 auto;
  min-width: 320px;
}

.head__logo {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 0px;
  margin-right: 0px;
  width: -webkit-calc(25% - 0px);
  width: calc(25% - 0px);
}

.head__info {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 0px;
  margin-right: 0px;
  width: -webkit-calc(66.66667% - 0px);
  width: calc(66.66667% - 0px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: 0px;
  margin-right: 0px;
}

.head__cart {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 0px;
  margin-right: 0px;
  width: -webkit-calc(8.33333% - 0px);
  width: calc(8.33333% - 0px);
}

.head__email,
.head__phone,
.head__schedule {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 0px;
  margin-right: 0px;
  width: -webkit-calc(33.33333% - 0px);
  width: calc(33.33333% - 0px);
  position: relative;
  padding-top: 35px;
  text-align: center;
}

.head__logo {
  padding-top: 15px;
  padding-bottom: 15px;
}

#logo > a > img {
  height: 70px;
}

.head__email {
  background-color: #f5effe;
}

.head__phone {
  background-color: #f1e8ff;
}

.head__schedule {
  background-color: #f5effe;
}

.head__text {
  font-size: 20px;
  color: #8c76ad;
}

.head__icon {
  position: absolute;
  top: 7px;
  left: 10px;
  color: #b5b5b5;
  font-size: 19px;
}

#cart {
  height: 100%;
}

#cart .btn-block {
  height: 100%;
  -webkit-border-radius: 0;
  border-radius: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffd65e), to(#ef9a5f));
  background: -webkit-linear-gradient(top, #ffd65e 0%, #ef9a5f 100%);
  background: -o-linear-gradient(top, #ffd65e 0%, #ef9a5f 100%);
  background: linear-gradient(to bottom, #ffd65e 0%, #ef9a5f 100%);
  padding: 0;
  border: 0;
  white-space: normal;
}

#cart .btn-block i {
  display: none;
}

#cart .btn-block:before {
  width: 100%;
  height: 40px;
  content: "";
  background: url("/image/catalog/shopping-cart.png") no-repeat center center;
  display: block;
}

#cart-total {
  color: white;
  display: block;
  padding-top: 10px;
  font-size: 14px;
}

#cart > ul {
  padding: 10px;
}

#cart > ul > li > p:last-of-type {
  margin-bottom: 0;
}

#mmenu-icon .hamburger-inner,
#mmenu-icon .hamburger-inner:after,
#mmenu-icon .hamburger-inner:before {
  background-color: white;
}

.header__hamburger {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 0px;
  margin-right: 0px;
  width: -webkit-calc(50% - 0px);
  width: calc(50% - 0px);
  display: none;
}

div.head__email > span > a {
  color: #8c76ad;
}

#logo > a > img {
  margin: 0 auto;
}

.footer {
  background-color: white;
}

.footer__wrap,
.tomb__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: 0px;
  margin-right: 0px;
  width: 1140px;
  margin: 0 auto;
  min-width: 320px;
}

li.nav__item--footer {
  padding-top: 17px;
  padding-bottom: 13px;
}

a.nav__link--footer {
  color: black;
  -webkit-transition: color .5s;
  -o-transition: color .5s;
  transition: color .5s;
}

a.nav__link--footer:hover {
  color: #ba9fe4;
}

.footer__menu {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 0px;
  margin-right: 0px;
  width: -webkit-calc(66.66667% - 0px);
  width: calc(66.66667% - 0px);
}

.footer__social {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 0px;
  margin-right: 0px;
  width: -webkit-calc(33.33333% - 0px);
  width: calc(33.33333% - 0px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.social__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-left: auto;
}

.social__link {
  display: block;
  width: 50px;
  height: 50px;
  font-size: 25px;
  color: #826e9e;
  text-align: center;
  padding-top: 10px;
  -webkit-transition: color .5s;
  -o-transition: color .5s;
  transition: color .5s;
}

.social__link:hover {
  color: white;
}

.social__link--one {
  background-color: #c5a5f2;
}

.social__link--two {
  background-color: #d2c0dd;
}

.social__link--tree {
  background-color: #cda3ed;
}

.tomb {
  background-color: #8c76ad;
}

.tomb__address,
.tomb__info {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 0px;
  margin-right: 0px;
  width: -webkit-calc(50% - 0px);
  width: calc(50% - 0px);
  font-size: 12px;
  color: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.tomb__address {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: left;
}

.tomb__info {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: right;
}

.category {
  padding-top: 20px;
  padding-bottom: 20px;
}

.category__item {
  display: block;
  /*  @include col();
    @include size(3);
    @include size-lg(3);
    @include size-md(3);
    @include size-sm(12);
    @include size-xs(12);*/
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  background-color: white;
  width: -webkit-calc(25% - 20px);
  width: calc(25% - 20px);
  margin: 10px;
  padding: 5px;
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.category__item:after {
  background: #ba9fe4;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  -webkit-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  opacity: 0;
}

.category__item:hover:after {
  opacity: 0.3;
}

.category__picture {
  width: 100%;
  margin: 0;
}

.category__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.category__title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 20px;
  text-align: center;
  background-color: rgba(140, 118, 173, 0.7);
  color: white;
  padding: 10px;
}

@media only screen and (min-device-width: 768px) and (max-width: 1199px) {
  html,
  body {
    font-size: 14px;
  }
}

@media only screen and (min-device-width: 961px) and (max-width: 1199px) {
  .header__wrap {
    width: auto;
  }

  .head__wrap {
    width: auto;
  }

  .footer__wrap,
  .tomb__wrap {
    width: auto;
  }

  .tomb__address {
    padding-left: 10px;
  }

  .tomb__info {
    padding-right: 10px;
  }
}

@media screen and (max-width: 1140x) {
  .header__menu {
    width: -webkit-calc(75% - 0px);
    width: calc(75% - 0px);
  }

  .header__account {
    width: -webkit-calc(25% - 0px);
    width: calc(25% - 0px);
  }

  .head__logo {
    width: -webkit-calc(25% - 0px);
    width: calc(25% - 0px);
  }

  .head__info {
    width: -webkit-calc(58.33333% - 0px);
    width: calc(58.33333% - 0px);
  }

  .head__cart {
    width: -webkit-calc(16.66667% - 0px);
    width: calc(16.66667% - 0px);
  }

  .head__email,
  .head__phone,
  .head__schedule {
    width: -webkit-calc(33.33333% - 0px);
    width: calc(33.33333% - 0px);
  }

  .footer__menu {
    width: -webkit-calc(66.66667% - 0px);
    width: calc(66.66667% - 0px);
  }

  .footer__social {
    width: -webkit-calc(33.33333% - 0px);
    width: calc(33.33333% - 0px);
  }

  .tomb__address,
  .tomb__info {
    width: -webkit-calc(50% - 0px);
    width: calc(50% - 0px);
  }
}

@media screen and (max-width: 960px) {
  .header__account {
    width: -webkit-calc(25% - 0px);
    width: calc(25% - 0px);
  }

  .head__logo {
    width: -webkit-calc(25% - 0px);
    width: calc(25% - 0px);
  }

  .head__info {
    width: -webkit-calc(58.33333% - 0px);
    width: calc(58.33333% - 0px);
  }

  .head__cart {
    width: -webkit-calc(16.66667% - 0px);
    width: calc(16.66667% - 0px);
  }

  .head__email,
  .head__phone,
  .head__schedule {
    width: -webkit-calc(33.33333% - 0px);
    width: calc(33.33333% - 0px);
  }

  .header__hamburger {
    width: -webkit-calc(33.33333% - 0px);
    width: calc(33.33333% - 0px);
  }

  .footer__menu {
    width: -webkit-calc(66.66667% - 0px);
    width: calc(66.66667% - 0px);
  }

  .footer__social {
    width: -webkit-calc(33.33333% - 0px);
    width: calc(33.33333% - 0px);
  }

  .tomb__address,
  .tomb__info {
    width: -webkit-calc(50% - 0px);
    width: calc(50% - 0px);
  }
}

@media only screen and (min-device-width: 768px) and (max-width: 960px) {
  .header__wrap {
    width: auto;
  }

  .head__wrap {
    width: auto;
  }

  .nav__item {
    padding-right: 0;
  }

  .nav__list {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .header__account .dropdown-menu {
    width: 100%;
  }

  .head__text {
    font-size: 17px;
    white-space: normal;
  }

  #logo {
    padding-left: 10px;
    padding-right: 10px;
  }

  .footer__wrap,
  .tomb__wrap {
    width: auto;
  }

  .nav__item {
    padding-right: 0;
  }

  .nav__list {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  a.nav__link--footer {
    font-size: 11px;
  }

  .social__link {
    width: 40px;
  }

  .tomb__address {
    padding-left: 10px;
  }

  .tomb__info {
    padding-right: 10px;
  }

  .category__item {
    width: -webkit-calc(33% - 20px);
    width: calc(33% - 20px);
  }
}

@media only screen and (max-width: 767px) {
  html,
  body {
    font-size: 14px;
  }

  .header__wrap {
    width: auto;
  }

  .head__wrap {
    width: auto;
  }

  .header__hamburger {
    display: block;
  }

  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .nav__item {
    text-align: center;
    padding-right: 0;
  }

  .nav__link {
    font-size: 18px;
    text-transform: uppercase;
  }

  .header__menu {
    width: 80%;
  }

  .head__schedule {
    display: none;
  }

  .head__email,
  .head__phone {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  #cart > ul.dropdown-menu {
    width: 100%;
  }

  .footer__wrap,
  .tomb__wrap {
    width: auto;
  }

  .nav__list--footer {
    display: none;
  }

  .social__list {
    margin: 0 auto;
  }

  .tomb__address,
  .tomb__info {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }

  .tomb__address {
    padding-top: 10px;
    padding-bottom: 0;
  }

  .tomb__info {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .category__item {
    width: -webkit-calc(100% - 10px);
    width: calc(100% - 10px);
  }
}

@media screen and (max-width: 767px) {
  .header__account {
    width: -webkit-calc(50% - 0px);
    width: calc(50% - 0px);
  }

  .head__logo {
    width: -webkit-calc(100% - 0px);
    width: calc(100% - 0px);
  }

  .head__info {
    width: -webkit-calc(100% - 0px);
    width: calc(100% - 0px);
  }

  .head__cart {
    width: -webkit-calc(100% - 0px);
    width: calc(100% - 0px);
  }

  .head__email,
  .head__phone,
  .head__schedule {
    width: -webkit-calc(50% - 0px);
    width: calc(50% - 0px);
  }

  .header__hamburger {
    width: -webkit-calc(50% - 0px);
    width: calc(50% - 0px);
  }

  .footer__menu {
    width: -webkit-calc(100% - 0px);
    width: calc(100% - 0px);
  }

  .footer__social {
    width: -webkit-calc(100% - 0px);
    width: calc(100% - 0px);
  }

  .tomb__address,
  .tomb__info {
    width: -webkit-calc(100% - 0px);
    width: calc(100% - 0px);
  }
}

@media screen and (max-width: 560px) {
  .header__account {
    width: -webkit-calc(50% - 0px);
    width: calc(50% - 0px);
  }

  .head__logo {
    width: -webkit-calc(100% - 0px);
    width: calc(100% - 0px);
  }

  .head__info {
    width: -webkit-calc(100% - 0px);
    width: calc(100% - 0px);
  }

  .head__cart {
    width: -webkit-calc(100% - 0px);
    width: calc(100% - 0px);
  }

  .head__email,
  .head__phone,
  .head__schedule {
    width: -webkit-calc(50% - 0px);
    width: calc(50% - 0px);
  }

  .header__hamburger {
    width: -webkit-calc(50% - 0px);
    width: calc(50% - 0px);
  }

  .footer__menu {
    width: -webkit-calc(100% - 0px);
    width: calc(100% - 0px);
  }

  .footer__social {
    width: -webkit-calc(100% - 0px);
    width: calc(100% - 0px);
  }

  .tomb__address,
  .tomb__info {
    width: -webkit-calc(100% - 0px);
    width: calc(100% - 0px);
  }
}