@import "../base/_vars";

.footer {
  background-color: white;
}

.footer__wrap, .tomb__wrap {
  @include row-flex();
  width: 1140px;
  margin: 0 auto;
  min-width: 320px;
}

li.nav__item--footer {
  padding-top: 17px;
  padding-bottom: 13px;
}

a.nav__link--footer {
  color: black;
  transition: color .5s;
  &:hover {
    color: $color-main;
  }
}

.footer__menu {
  @include col();
  @include size(8);
  @include size-lg(8);
  @include size-md(8);
  @include size-sm(12);
  @include size-xs(12);
}

.footer__social {
  @include col();
  @include size(4);
  @include size-lg(4);
  @include size-md(4);
  @include size-sm(12);
  @include size-xs(12);
  display: flex;
}

.social__list {
  display: flex;
  flex-direction: row;
  margin-left: auto;
}

.social__link {
  display: block;
  width: 50px;
  height: 50px;
  font-size: 25px;
  color: #826e9e;
  text-align: center;
  padding-top: 10px;
  transition: color .5s;
  &:hover {
    color: white;
  }
}

.social__link--one {
  background-color: #c5a5f2;
}

.social__link--two {
  background-color: #d2c0dd;
}

.social__link--tree {
  background-color: #cda3ed;
}

.tomb {
  background-color: #8c76ad;
}

.tomb__address, .tomb__info {
  @include col();
  @include size(6);
  @include size-lg(6);
  @include size-md(6);
  @include size-sm(12);
  @include size-xs(12);
  font-size: 12px;
  color: white;
  display: flex;
  align-items: center;
}

.tomb__address {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: left;
}

.tomb__info {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: right;
}

@media only screen and (min-device-width: 961px) and (max-width: 1199px) {
  .footer__wrap, .tomb__wrap {
    width: auto;
  }
  .tomb__address{
    padding-left: 10px;
  }
  .tomb__info{
    padding-right: 10px;
  }
}

@media only screen and (min-device-width: 768px) and (max-width: 960px) {
  .footer__wrap, .tomb__wrap {
    width: auto;
  }
  .nav__item {
    padding-right: 0;
  }
  .nav__list {
    justify-content: space-around;
  }
  a.nav__link--footer{
    font-size: 11px;
  }
  .social__link{
    width: 40px;
  }
  .tomb__address{
    padding-left: 10px;
  }
  .tomb__info{
    padding-right: 10px;
  }
}

@media only screen and (max-width: 767px) {
  .footer__wrap, .tomb__wrap {
    width: auto;
  }
}