@import "../base/_vars";

.header__wrap {
  @include row-flex();
  width: 1140px;
  margin: 0 auto;
  min-width: 320px;
}

.header {
  background-color: $color-three;
}

.header__menu {
  @include col();
  @include size(9);
  @include size-lg(9);
  //@include size-md(9);
  //@include size-sm(12);
  //@include size-xs(12);
}

.nav__list {
  display: flex;
  flex-direction: row;
}

.nav__item {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 35px;
}

a.nav__link {
  color: white;
  text-decoration: none;
  transition: color .5s;
  &:hover {
    color: $color-hover;
  }
}

.header__account {
  @include col();
  @include size(3);
  @include size-lg(3);
  @include size-md(3);
  @include size-sm(6);
  @include size-xs(6);
  background-color: #b398db;
  .dropdown-menu {
    width: 100%;
    top: 135%;
  }
}

.header__account .dropdown {
  text-align: center;
  padding-top: 15px;
  a.dropdown-toggle {
    text-decoration: none;
    font-size: 18px;
    font-family: 'FiraSansLight', 'Arial', sans-serif;
    transition-delay: .5s;
    .fa {
      color: white;
      font-size: 22px;
    }
    span {
      color: white;
    }
    &:hover {
      .fa {
        color: $color-hover;
      }
      span {
        color: $color-hover;
      }
    }
  }
}

.head {
  background-color: white;
}

.head__wrap {
  @include row-flex();
  width: 1140px;
  margin: 0 auto;
  min-width: 320px;
}

.head__logo {
  @include col();
  @include size(3);
  @include size-lg(3);
  @include size-md(3);
  @include size-sm(12);
  @include size-xs(12);
}

.head__info {
  @include col();
  @include size(8);
  @include size-lg(7);
  @include size-md(7);
  @include size-sm(12);
  @include size-xs(12);
  @include row-flex();
}

.head__cart {
  @include col();
  @include size(1);
  @include size-lg(2);
  @include size-md(2);
  @include size-sm(12);
  @include size-xs(12);
}

.head__email, .head__phone, .head__schedule {
  @include col();
  @include size(4);
  @include size-lg(4);
  @include size-md(4);
  @include size-sm(6);
  @include size-xs(6);
  position: relative;
  padding-top: 35px;
  text-align: center;
}

.head__logo {
  padding-top: 15px;
  padding-bottom: 15px;
}

#logo > a > img {
  height: 70px;
}

.head__email {
  background-color: #f5effe;
}

.head__phone {
  background-color: #f1e8ff;
}

.head__schedule {
  background-color: #f5effe;
}

.head__text {
  font-size: 20px;
  color: #8c76ad;
}

.head__icon {
  position: absolute;
  top: 7px;
  left: 10px;
  color: #b5b5b5;
  font-size: 19px;
}

#cart {
  height: 100%;
}

#cart .btn-block {
  height: 100%;
  border-radius: 0;
  background: linear-gradient(to bottom, #ffd65e 0%, #ef9a5f 100%);
  padding: 0;
  border: 0;
  white-space: normal;
  i {
    display: none;
  }
  &:before {
    width: 100%;
    height: 40px;
    content: "";
    background: url("/image/catalog/shopping-cart.png") no-repeat center center;
    display: block;
  }
}

#cart-total {
  color: white;
  display: block;
  padding-top: 10px;
  font-size: 14px;
}

#cart > ul {
  padding: 10px;
}

#cart > ul > li > p:last-of-type {
  margin-bottom: 0;
}

#mmenu-icon .hamburger-inner, #mmenu-icon .hamburger-inner:after, #mmenu-icon .hamburger-inner:before {
  background-color: white;
}

.header__hamburger {
  @include col();
  @include size(6);
  @include size-md(4);
  @include size-sm(6);
  @include size-xs(6);
  display: none;
}

@media only screen and (min-device-width: 961px) and (max-width: 1199px) {
  .header__wrap {
    width: auto;
  }
  .head__wrap {
    width: auto;
  }
}

@media only screen and (min-device-width: 768px) and (max-width: 960px) {
  .header__wrap {
    width: auto;
  }
  .head__wrap {
    width: auto;
  }
  .nav__item {
    padding-right: 0;
  }
  .nav__list {
    justify-content: space-around;
  }
  .header__account .dropdown-menu {
    width: 100%;
  }
  .head__text {
    font-size: 17px;
    white-space: normal;
  }
  #logo {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media only screen and (max-width: 767px) {
  .header__wrap {
    width: auto;
  }
  .head__wrap {
    width: auto;
  }
  .header__hamburger {
    display: block;
  }
  .nav__list {
    flex-direction: column;
  }
  .nav__item {
    text-align: center;
    padding-right: 0;
  }
  .nav__link {
    font-size: 18px;
    text-transform: uppercase;
  }
  .header__menu {
    width: 80%;
  }
  .head__schedule {
    display: none;
  }
  #logo > a > img {
    margin: 0 auto;
  }
  .head__email, .head__phone {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}